@import '../utilities/color';
@import '../utilities/fonts_var';

// Buttons style
a, svg {
  transition: all 350ms ease-in-out 0s;
}

.btn {  // general styles for all buttons(<a>, <button>)
  position: relative;
  display: inline-block;
  margin: 0;
  padding: .8rem 3rem;
  border: 0 none;
  border-radius: 1.4rem;
  outline: none 0;
  background-color: transparent;
  font-family: $second-font-name;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  transition: all 350ms ease-in-out 0s;
  user-select: none;

  &.red {
    background: {
      color: $btn-red;
      image: $btn-gradient;
    };
    color: $btn-text;

    &:hover {
      background-color: $btn-red-hover;
    }
  }

  &.green {
    background: {
      color: $btn-green;
      image: $btn-gradient;
    };
    color: $btn-text;

    &:hover {
      background-color: $btn-green-hover;
    }
  }

  &.big {
    padding: 1.5rem 3.6rem;
    border-radius: 5.5rem;
  }

  &.yellow {
    padding: .6rem 3rem;
    border: 2px solid $btn-yellow;
    background: transparent;
    color: $btn-yellow;

    &:hover {
      background: $btn-yellow;
      color: $white;

      .icon-pause,
      .icon-start {
        color: $white;
      }
    }
  }

  &.inactive {
    background-color: $btn-inactive;
    pointer-events: none;
  }
}

.log-in {
  .btn {
    &.big {
      padding: 1.5rem 5.3rem;
    }
  }
}

.btn-group {
  overflow: hidden;

  svg {
    margin-right: .3rem;
    vertical-align: baseline;
  }

  .left-side {
    float: left;
    font-size: 0;

    .btn {
      margin-right: 1rem;
    }
  }

  .right-side {
    float: right;
    font-size: 0;

    .btn {
      margin-left: 1rem;
    }
  }
}
