@import '../utilities/color';
@import '../utilities/fonts_var';

// Form elements style

input[type='tel'],
input[type='text'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='password'],
textarea,
select {
  box-sizing: border-box;
  width: 100%;
  padding: .6rem 1rem;
  border: {
    width: .1rem;
    style: solid;
    color: $input-border;
    radius: .4rem;
  };
  background: $input-bg;
  color: $input-text;
  font: {
    size: 1.3rem;
    weight: 400;
  };
}

textarea {
  height: 6.5em;
  color: $base-link;
  text-decoration: underline;
  resize: none;
}

label {
  display: block;
  margin-bottom: .8rem;
  font: {
    family: $second-font-name;
    size: 1.1rem;
    weight: 700;
  };
  line-height: 1.6rem;
  text-transform: uppercase;
}

.checkbox {
  display: none;

  &:not(:checked) + label,
  &:checked + label {
    position: relative;
    cursor: pointer;
    vertical-align: middle;
  }

  &:not(:checked) + label:before,
  &:checked + label:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: .2rem;
    background-color: $unchecked-bg;
  }

  &:checked + label:before {
    background-color: $checked-bg;
  }

  &:not(:checked) + label .check,
  &:checked + label .check {
    position: absolute;
    top: 0;
    left: .5rem;
    transition: all .2s;
  }

  &:not(:checked) + label .check {
    opacity: 0;
    transform: scale(0);
  }

  &:checked + label .check {
    color: $white;
    opacity: 1;
    transform: scale(1);
  }

  &-wrap {
    label {
      width: 1.8rem;
      height: 1.8rem;
      margin-bottom: 0;
    }
  }
}

.input-field {
  margin-bottom: 2rem;

  input {
    height: 4.5rem;
  }

  .checkbox-label {
    padding-left: 2.8rem;
    line-height: 1.8rem;
  }
}

.search-field {
  position: relative;
  display: inline-block;

  input {
    width: 16rem;
    padding: .5rem 3rem .5rem 1rem;
    border: 1px solid $base-border;
    border-radius: 1.2rem;
    background-color: $base-bg;
    font-size: 1.1rem;
  }

  .btn {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    padding: 0;
    transform: translate(0, -50%);
  }
}
