@import '../utilities/color';
@import '../utilities/fonts_var';

// Form elements style

input[type='tel'],
input[type='text'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='password'],
textarea,
select {
  box-sizing: border-box;
  width: 100%;
  padding: .6rem 1rem;
  border: {
    width: .1rem;
    style: solid;
    color: $input-border;
    radius: .4rem;
  };
  background: $input-bg;
  color: $input-text;
  font: {
    size: 1.3rem;
    weight: 400;
  };
}

textarea {
  resize: none;
}

label {
  display: block;
  margin-bottom: .8rem;
  font: {
    family: $default-fonts;
    size: 1.1rem;
    weight: 700;
  };
  line-height: 1.6rem;
  text-transform: uppercase;
}

.checkbox {
  display: none;

  &:not(:checked) + label,
  &:checked + label {
    position: relative;
    cursor: pointer;
    vertical-align: middle;
  }

  &:not(:checked) + label:before,
  &:checked + label:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: .2rem;
    background-color: $unchecked-bg;
  }

  &:checked + label:before {
    background-color: $checked-bg;
  }

  &:not(:checked) + label span,
  &:checked + label span {
    position: absolute;
    top: 0;
    left: .5rem;
    transition: all .2s;
  }

  &:not(:checked) + label span {
    opacity: 0;
    transform: scale(0);
  }

  &:checked + label span {
    color: $white;
    opacity: 1;
    transform: scale(1);
  }

  &-wrap {
    label {
      height: 1.8rem;
      margin-bottom: 0;
    }
  }
}

.input-field {
  margin-bottom: 2rem;

  input {
    height: 4.5rem;
  }
}
