@import '../utilities/variables';

// Footer fixed to bottom

html {
  position: relative;
  min-height: 100%;
  background: #434343; // TODO test

  body {
    height: 100%;
    min-height: .1rem;
  }
}

// General classes for project
.wrapper {
  width: 100%;
  background: #434343; // TODO test

  .extension-body {
    width: 76.8rem;
    height: 66rem;
    margin: 0 auto;
    border-radius: .6rem;
    background: $base-bg;

    &.log-in {
      width: 38.4rem;
      height: auto;
    }
  }
}
