@import '../utilities/color';

// Tables style
table {
  border: {
    collapse: collapse;
    spacing: 0;
  };
}

td,
th {
  border: none;
  padding: .8em;
  text-align: left;
  vertical-align: middle;
}

.table {
  display: table;
  width: 100%;
  max-width: 100%;
  font-size: 1.1rem;

  tbody tr:nth-child(2n + 1) td {
    background: $table-bg;
  }

  &-row {
    display: table-row;
    height: 5rem;
  }

  &-cell {
    display: table-cell;
    padding: 1rem;
  }

  &-head {
    .table-cell {
      font : {
        size: 1.2rem;
        weight: 700;
      }
    }
  }
}
