// Default --------------
$black : #000 !default;
$white : #fff !default;
// -----------------------

$colors-default : (
  'blue'       : #2c6cda,
  'light-gray' : #e4e4e4,
  'gray'       : #898989,
  'dark-gray'  : #2b2b2b
);

$colors-state : (
  'red'        : #e97660,
  'dark-red'   : #e25034,
  'yellow'     : #f1c40f,
  'green'      : #38a898,
  'dark-green' : #2a8578,
  'light-green': #b7dcd5,
  'brown'      : #c9caa8,
  'light-blue' : #f4f7f9,
  'gray'       : #aaa,
  'dark-gray'  : #292929,
);

$form-colors : (
  'light-gray' : #f6f6f6,
  'gray'       : #d2d2d2,
  'dark-gray'  : #5d5d5d
);

$colors : (
  'default' : $colors-default,
  'state'   : $colors-state,
  'form'    : $form-colors
);

// usage: color("name-of-type", "name-of-color")
// to avoid to repeating map-get($colors, ...)

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr-color: map-get($colors, $color);
    @if map-has-key($curr-color, $type) {
      @return map-get($curr-color, $type);
    }
  }
  
  @warn "Unknown `#{$type}` in #{$color}.";
  @return null;
}


// Base ------------------
$base-bg     : $white;
$base-text   : color('default', 'dark-gray');
$base-link   : color('default', 'blue');
$base-border : color('default', 'light-gray');
$base-color  : color('state', 'yellow');
$base-hover  : color('state', 'dark-gray');
// -----------------------
